{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <title>Проекты</title>
</head>
<body>
    <a href="{% url 'index' %}">На главную</a>
    <form method="post">
        {% csrf_token %}
        <div class="menu">
            {% if projects %}
                {% for project in projects %}
                    <h3 class="item">{{ project.name }}</h3>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
    </form>
</body>
</html>