body{
    background-color: black;
  }
  .body_title{
    color: white;
  }
  .upper_menu {
    height: 280px;
    padding-right: 20px;
  }
  hr{
    color: #a7a6ac;
  }
  .menu{
    background-color: #141319;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    width: 96%;
  }
  .item{
    display: inline-block;
    color: white;
    
  }
  .item-info{
    color: #a7a6ac;
    font-size: medium;
    text-decoration: none;
  }
  .arrow {
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .arrow:after {
    position: absolute;
    top: 8px;;
    left: 9px;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    transform: rotate(45deg);
  }
  .back_arrow {
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .back_arrow:after {
    position: absolute;
    top: 8px;;
    left: 9px;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    transform: rotate(45deg);
  }
.onoffswitch {
    position: relative;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    background-color: #FFFFFF;
    transition: background-color 0.2s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #E3E3E3; border-radius: 36px;
    transition: all 0.2s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}