{% extends "registration/base.html" %}

{% block content %}

<form method="post">
    {% csrf_token %}

    <button type="submit" name="SubCategoriesForm" style="float: left;margin-right: 5%;border: medium none; background-image: none; background: transparent; background-color: transparent; vertical-align: middle;"><div class="back_arrow item"></div></button>
    
    <div style="text-align: center">
        {{ form.subcategories }}

        <div style="color: #dc3545; font-size: small">{{ error }}</div>
    </div>
    
</form>

{% endblock %} 